@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  font-weight: $font-weight-bold;
  margin: 0 0 $small-spacing;
  letter-spacing: -0.01em;
}

h1 {
  font-size: rem(36);
  letter-spacing: -0.02em;
}

h2 {
  font-size: rem(28);
  letter-spacing: -0.015em;
}

h3 {
  font-size: rem(22);
  font-weight: 600;
}

h4 {
  font-size: rem(19);
  font-weight: 600;
}

h5,
h6 {
  font-size: rem(17);
  font-weight: 600;
}

p {
  margin: 0 0 $base-spacing;
  font-weight: $font-weight-light;
  line-height: $base-line-height;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
}

a {
  color: $action-color;
  text-decoration: none;
  @include transition(color $base-duration $base-timing);

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  background: none;
  border-radius: 4px;
  border: none;
  font-family: $mono-font-family;
  font-size: 0.875em;
  margin: 0;
  padding: 0.15em 0.4em;
  background-color: lighten($light-gray-color, 6%);
  color: darken($base-font-color, 10%);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: $mono-font-family;
  font-size: 0.875em;
  margin: 0;
  border-radius: 6px;

  code {
    line-height: 1.65em;
    padding: 0;
    background: none;
    border-radius: 0;
  }
}

strong {
  font-weight: 600;
}

sup {
  vertical-align: super;
}

pre {
  text-wrap: pretty !important;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
