

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}

      <div class="container">
        <h1>'{{ page.title | capitalize}}'</h1>
        <section class="post-list">
          {% for post in page.posts %}
            {% include article.html %}
          {% endfor %}

        </section>

      </div>

      {% include footer.html %}


      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script>
      $(document).ready(function() {
        $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
          $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
          e.preventDefault();
        });
      });
      </script>
    </main>
  </body>
</html>
